! Import color scheme
#include ".Xresources.d/base16/xresources/base16-ocean-256.Xresources"
!#include ".Xresources.d/var/snazzy-xdefault"
!#include ".Xresources.d/var/onedark.xresources"
! ### Set default font ###
!*.font: xft:ProFont:style=Regular:pixelsize=11
!*.boldFont: xft:ProFont:style=Regular:pixelsize=11
*.font: xft:Source Code Pro:style=Regular:size=8, \
        xft:Sans:style=Regular:size=8, \
        xft:FreeSans:style=Regular:size=8, \
        xft:FontAwesome:size=9, \
        xft:Unifont:size=9
*.boldFont: xft:Source Code Pro:style=Bold:size=8, \
        xft:Sans:style=Bold:size=8, \
        xft:FreeSerif:style=Bold:size=8, \
        xft:FontAwesome:size=9, \
        xft:Unifont:size=9

! ### URxvt options ###
! set 256 color mode
URxvt.termName: rxvt-256color
!URxvt.borderColor: #272822
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.internalBorder: 8
!real trasnparancy and background color
!URxvt.depth: 32
!URxvt.background: [95]#2b303b
!URxvt.geometry: 165x40
! urxvt perl extensions
URxvt.perl-ext-common: default,matcher,url-select
! open url in browser
URxvt.url-launcher: /usr/bin/firefox
! Use Alt-U to start url-select and open in firefox
URxvt.matcher.button: 1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true

! ### XTerm options ###
Xterm*utf8: 1
!Xterm*font: -*-ProFont-Regular-*-*-*-9-*-*-*-*-*-*-*

! Set the cursor theme
Xcursor.theme: Neutral++

! ### Font options ###
!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault

! ### rofi options ###
rofi.font:                           Source Code Pro 8
rofi.color-normal:                   #2b303b, #c0c5ce, #2b303b, #bf616a, #2b303b
rofi.color-urgent:                   #2b303b, #d08770, #2b303b, #d08770, #2b303b
rofi.color-active:                   #2b303b, #a3be8c, #2b303b, #a3be8c, #2b303b
rofi.color-window:                   #2b303b, #343d46
rofi.opacity:                        100
rofi.terminal:                       urxvtc
rofi.ssh-client:                     ssh
rofi.bw:                             1
rofi.padding:                        4
rofi.location:                       1
rofi.yoffset:                        20
rofi.width:                          100
